body {

    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url("https://img.freepik.com/vector-premium/fondo-ropa-accesorios-moda-femenina_328432-283.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin:0;
    color: #121313;
    
}

.seccion {
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #b0d1fd;
    margin-bottom: 10px;
}

th, td {
    padding: 10px;
    border: 1px solid #0e0d0d;
    text-align: left;
}

h2, h3 {
    margin: 0;
    padding: 10px 0;
}

.tabla-empresa {

    border: 5px solid #0d0d0d;
}

.tabla-cliente {
    border: 5px solid #0b0b0b;
}

.tabla-productos {
    border: 2px solid #0c0c0c;
}

.tabla-productos thead {
    background-color: #9c84fb;
}

.tabla-adicional {
    border: 2px solid #060606;
}

.footer {
    text-align: center;
    font-weight: bold;
    background-color: #e9ecef;
    border-top: 2px solid #6C757D;
}
